In [1]:
print?

In [2]:
print("hello python")

hello python

In [3]:
print("hello python")
print("hello java")

hello python
hello java

In [4]:
print("hello python",end=" ")
print("hello java")

hello python hello java

In [5]:
a=1000
b=2000
c=3000
print(a,b,c)

1000 2000 3000

In [6]:
a=1000
b=2000
c=3000
print(a,b,c,sep="\n")

1000
2000
3000

In [7]:
a=1000
b=2000
c=3000
print(a,b,c,sep=";")

1000;2000;3000

In [8]:
product_name="mi6A"
product_cost=6700
# product details: name:mi6A, cost:6700

In [9]:
print("product details: name:")

product details: name:

In [10]:
product_name="mi6A"
product_cost=6700
print("product details: name:",product_name)

product details: name: mi6A

In [11]:
product_name="mi6A"
product_cost=6700
print("product details: name:product_name")

product details: name:product_name

In [12]:
product_name="mi6A"
product_cost=6700
print(f"product details: name:product_name")

product details: name:product_name

In [13]:
product_name="mi6A"
product_cost=6700
print(f"product details: name:{product_name}")

product details: name:mi6A

In [14]:
product_name="mi6A"
product_cost=6700
# product details: name:mi6A, cost:6700
print("product details: name:",product_name)

product details: name: mi6A

In [15]:
product_name="mi6A"
product_cost=6700
# product details: name:mi6A, cost:6700
print("product details: name:",product_name,", cost:",product_cost)

product details: name: mi6A , cost: 6700

In [16]:
product_name="mi6A"
product_cost=6700
# product details: name:mi6A, cost:6700
print("product details: name:",product_name,", cost:",product_cost,sep="")

product details: name:mi6A, cost:6700

In [17]:
product_name="mi6A"
product_cost=6700
# product details: name:mi6A, cost:6700
print(f"product details: name:{product_name}, cost:{product_cost}")

product details: name:mi6A, cost:6700

In [18]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
round(12.34567,2)

12.35

In [19]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{age}, Height:{height}, Weight:{weight}")

Name:JAYARAM, Age:2.3456, Height:3.4567, Weight:12.4789

In [20]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")

Name:JAYARAM, Age:2, Height:3.46, Weight:12.48

In [22]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
res = f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}"
print(type(res))

<class 'str'>

In [23]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
res = f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}"
print(type(res))
print(res)

<class 'str'>
Name:JAYARAM, Age:2, Height:3.46, Weight:12.48

In [24]:
print("hello\nworld")

hello
world

In [25]:
print("hello\tworld")

hello	world

In [26]:
print("hello\\nworld")

hello\nworld

In [27]:
s="1\n2\n3\n4\n5"
print(len(s))

9

In [28]:
s="1\n2\n3\n4\n5"
print(s)

1
2
3
4
5

In [29]:
s="1\\n2\\n3\\n4\\n5"
print(s)

1\n2\n3\n4\n5

In [30]:
s=r"1\n2\n3\n4\n5"
print(s)

1\n2\n3\n4\n5

In [31]:
s=r"1\n2\n3\n4\n5"
print(s)
print(len(s))

1\n2\n3\n4\n5
13

In [32]:
#It's very "HOT" in hyderabad.
s=r"1\n2\n3\n4\n5"
print("1\n","2\n","3\n","4\n","5",sep="\n")
print(len(s))

1

2

3

4

5
13

In [33]:
#It's very "HOT" in hyderabad.
s=r"1\n2\n3\n4\n5"
print(r"1\n",r"2\n",r"3\n",r"4\n","5",sep="\n")
print(len(s))

1\n
2\n
3\n
4\n
5
13

In [35]:
s="1\\n\n2\\n\n3\\n\n4\\n\n5"
print(s)

1\n
2\n
3\n
4\n
5

In [36]:
#It's very "HOT" in hyderabad.
print("It's")

It's

In [37]:
#It's very "HOT" in hyderabad.
print('It's')

SyntaxError: invalid syntax (<ipython-input-37-d6a8df239380>, line 2)

In [38]:
#It's very "HOT" in hyderabad.
print('It\'s')

It's

In [39]:
#It's very "HOT" in hyderabad.
print('It\'s very "Hot" in hyderabad')

It's very "Hot" in hyderabad

In [40]:
#It's very "HOT" in hyderabad.
print("It's very "Hot" in hyderabad")

SyntaxError: invalid syntax (<ipython-input-40-5a87267540a9>, line 2)

In [41]:
#It's very "HOT" in hyderabad.
print("It's very \"Hot\" in hyderabad")

It's very "Hot" in hyderabad

In [42]:
# format specifiers
print("%s%d%f%r%o%x")

%s%d%f%r%o%x

In [43]:
product_cost=12.343456
print(f"cost of the product:{product_cost}")

cost of the product:12.343456

In [44]:
product_cost=12.343456
print(f"cost of the product:{round(product_cost,2)}")

cost of the product:12.34

In [46]:
product_cost=12.343456
print(f"cost of the product:%f",product_cost)

cost of the product:%f 12.343456

In [47]:
product_cost=12.343456
print(f"cost of the product:%f"%product_cost)

cost of the product:12.343456

In [48]:
product_cost=12.343456
print(f"cost of the product:%.2f"%product_cost)

cost of the product:12.34

In [50]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, Age:%d"%(name,age))

Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, Age:2

In [51]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, Age:%d, Height:%s, Weight:%s"%(name,age,height,weight))

Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, Age:2, Height:3.4567, Weight:12.4789

In [52]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, Age:%d, Height:%f, Weight:%f"%(name,age,height,weight))

Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, Age:2, Height:3.456700, Weight:12.478900

In [53]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, Age:2, Height:3.46, Weight:12.48

In [54]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, %Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:JAYARAM, %Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, Age:2, Height:3.46, Weight:12.48

In [55]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, %Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, %Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:JAYARAM, %Age:2, Height:3.46, Weight:12.48

ValueError: unsupported format character 'A' (0x41) at index 10

In [56]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, %Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, \%Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:JAYARAM, %Age:2, Height:3.46, Weight:12.48

ValueError: unsupported format character 'A' (0x41) at index 11

In [57]:
name="JAYARAM"
age=2.3456
height=3.4567
weight=12.4789
# Name:JAYARAM, Age:2, Height:3.46, Weight:12.48
print(f"Name:{name}, %Age:{int(age)}, Height:{round(height,2)}, Weight:{round(weight,2)}")
print("Name:%s, %%Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:JAYARAM, %Age:2, Height:3.46, Weight:12.48
Name:JAYARAM, %Age:2, Height:3.46, Weight:12.48

In [58]:
a=10
print("%s"%a)

10

In [59]:
a=1000
b="%s"%a
print(a, type(a))
print(b,type(b))

1000 <class 'int'>
1000 <class 'str'>

In [60]:
s="1\n2\n3\n4\n5"
print(s)

1
2
3
4
5

In [61]:
s="1\n2\n3\n4\n5"
print("%s"%s)

1
2
3
4
5

In [62]:
s="1\n2\n3\n4\n5"
print("%r"%s)

'1\n2\n3\n4\n5'

In [63]:
a=1000
print("%o"%a)
print("%x"%a)

1750
3e8

In [64]:
k="1\n2\n3\n4\n5"
print(k)

1
2
3
4
5

In [65]:
k=r"1\n2\n3\n4\n5"
print(k)

1\n2\n3\n4\n5

In [71]:
k="1\n2\n3\n4\n5"
k1=r'k'
print(k1)

k

In [67]:
k="1\n2\n3\n4\n5"
print("%r"%k)

'1\n2\n3\n4\n5'

In [68]:
print("1\n2\n3\n4\n5")

1
2
3
4
5

In [69]:
name="apple"
print("name")

name

In [72]:
k="1\n2\n3\n4\n5"
k1=r'%s'%k
print(k1)

1
2
3
4
5

In [73]:
2**3

8