In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("db.sqlite3")

In [4]:
con

In [5]:
pwd

'/home/khyaathipython/batch58'

In [6]:
cur = con.cursor()

In [7]:
cur.execute("create table product(id integer, name varchar(250), costprice integer)")

In [10]:
cur.execute("insert into product(id,name,costprice) values(1,'mi6A',6700)")

In [11]:
con.commit()

In [12]:
#con.close() if you close the databas connection without commit, the buffer transactions are erased without effecting 
# in to database.

In [21]:
names=["samba","chaithanya","sriniva","phani","pooja","vamshi","madhu"]
costs=range(30,300000)
import random
random.choice(names)

'phani'

In [22]:
names=["samba","chaithanya","sriniva","phani","pooja","vamshi","madhu"]
costs=range(30,300000)
import random
for i in range(2,200):
    q=f"insert into product(id, name, costprice) values({i},'{random.choice(names)}',{random.choice(costs)})"
    print(q)
random.choice(names)

insert into product(id, name, costprice) values(2,'vamshi',225595)
insert into product(id, name, costprice) values(3,'chaithanya',273222)
insert into product(id, name, costprice) values(4,'madhu',133616)
insert into product(id, name, costprice) values(5,'samba',39973)
insert into product(id, name, costprice) values(6,'vamshi',188622)
insert into product(id, name, costprice) values(7,'vamshi',60275)
insert into product(id, name, costprice) values(8,'madhu',193982)
insert into product(id, name, costprice) values(9,'vamshi',279309)
insert into product(id, name, costprice) values(10,'vamshi',30148)
insert into product(id, name, costprice) values(11,'chaithanya',273344)
insert into product(id, name, costprice) values(12,'samba',65975)
insert into product(id, name, costprice) values(13,'sriniva',8613)
insert into product(id, name, costprice) values(14,'vamshi',40945)
insert into product(id, name, costprice) values(15,'chaithanya',73025)
insert into product(id, name, costprice) values(16,'pooja',149873)
insert into product(id, name, costprice) values(17,'chaithanya',20598)
insert into product(id, name, costprice) values(18,'vamshi',291812)
insert into product(id, name, costprice) values(19,'vamshi',218016)
insert into product(id, name, costprice) values(20,'madhu',125680)
insert into product(id, name, costprice) values(21,'phani',100777)
insert into product(id, name, costprice) values(22,'samba',134402)
insert into product(id, name, costprice) values(23,'madhu',163067)
insert into product(id, name, costprice) values(24,'phani',125452)
insert into product(id, name, costprice) values(25,'pooja',57293)
insert into product(id, name, costprice) values(26,'vamshi',67757)
insert into product(id, name, costprice) values(27,'sriniva',82034)
insert into product(id, name, costprice) values(28,'samba',50086)
insert into product(id, name, costprice) values(29,'chaithanya',100007)
insert into product(id, name, costprice) values(30,'pooja',205648)
insert into product(id, name, costprice) values(31,'sriniva',36956)
insert into product(id, name, costprice) values(32,'madhu',11030)
insert into product(id, name, costprice) values(33,'pooja',249263)
insert into product(id, name, costprice) values(34,'pooja',294290)
insert into product(id, name, costprice) values(35,'pooja',101385)
insert into product(id, name, costprice) values(36,'pooja',53216)
insert into product(id, name, costprice) values(37,'sriniva',227732)
insert into product(id, name, costprice) values(38,'vamshi',120198)
insert into product(id, name, costprice) values(39,'samba',219346)
insert into product(id, name, costprice) values(40,'chaithanya',219188)
insert into product(id, name, costprice) values(41,'chaithanya',225201)
insert into product(id, name, costprice) values(42,'madhu',214284)
insert into product(id, name, costprice) values(43,'pooja',142764)
insert into product(id, name, costprice) values(44,'pooja',280176)
insert into product(id, name, costprice) values(45,'madhu',178529)
insert into product(id, name, costprice) values(46,'phani',51818)
insert into product(id, name, costprice) values(47,'pooja',59812)
insert into product(id, name, costprice) values(48,'chaithanya',143162)
insert into product(id, name, costprice) values(49,'phani',149539)
insert into product(id, name, costprice) values(50,'phani',54952)
insert into product(id, name, costprice) values(51,'madhu',61253)
insert into product(id, name, costprice) values(52,'pooja',142427)
insert into product(id, name, costprice) values(53,'vamshi',235154)
insert into product(id, name, costprice) values(54,'phani',244725)
insert into product(id, name, costprice) values(55,'chaithanya',274594)
insert into product(id, name, costprice) values(56,'samba',282168)
insert into product(id, name, costprice) values(57,'sriniva',281531)
insert into product(id, name, costprice) values(58,'vamshi',59776)
insert into product(id, name, costprice) values(59,'madhu',252745)
insert into product(id, name, costprice) values(60,'vamshi',33310)
insert into product(id, name, costprice) values(61,'sriniva',67742)
insert into product(id, name, costprice) values(62,'chaithanya',162596)
insert into product(id, name, costprice) values(63,'vamshi',126865)
insert into product(id, name, costprice) values(64,'pooja',289801)
insert into product(id, name, costprice) values(65,'vamshi',278528)
insert into product(id, name, costprice) values(66,'samba',104012)
insert into product(id, name, costprice) values(67,'chaithanya',121738)
insert into product(id, name, costprice) values(68,'chaithanya',19625)
insert into product(id, name, costprice) values(69,'chaithanya',38504)
insert into product(id, name, costprice) values(70,'vamshi',267676)
insert into product(id, name, costprice) values(71,'samba',72613)
insert into product(id, name, costprice) values(72,'samba',73712)
insert into product(id, name, costprice) values(73,'madhu',37638)
insert into product(id, name, costprice) values(74,'pooja',103719)
insert into product(id, name, costprice) values(75,'pooja',181613)
insert into product(id, name, costprice) values(76,'chaithanya',142678)
insert into product(id, name, costprice) values(77,'madhu',159844)
insert into product(id, name, costprice) values(78,'vamshi',189292)
insert into product(id, name, costprice) values(79,'sriniva',59804)
insert into product(id, name, costprice) values(80,'sriniva',218873)
insert into product(id, name, costprice) values(81,'samba',125366)
insert into product(id, name, costprice) values(82,'madhu',158323)
insert into product(id, name, costprice) values(83,'chaithanya',127831)
insert into product(id, name, costprice) values(84,'vamshi',73906)
insert into product(id, name, costprice) values(85,'madhu',161998)
insert into product(id, name, costprice) values(86,'chaithanya',145045)
insert into product(id, name, costprice) values(87,'pooja',77273)
insert into product(id, name, costprice) values(88,'phani',115869)
insert into product(id, name, costprice) values(89,'phani',156029)
insert into product(id, name, costprice) values(90,'vamshi',113103)
insert into product(id, name, costprice) values(91,'madhu',178284)
insert into product(id, name, costprice) values(92,'chaithanya',193787)
insert into product(id, name, costprice) values(93,'chaithanya',123283)
insert into product(id, name, costprice) values(94,'chaithanya',147424)
insert into product(id, name, costprice) values(95,'chaithanya',252865)
insert into product(id, name, costprice) values(96,'phani',49960)
insert into product(id, name, costprice) values(97,'madhu',299398)
insert into product(id, name, costprice) values(98,'phani',76993)
insert into product(id, name, costprice) values(99,'pooja',32121)
insert into product(id, name, costprice) values(100,'madhu',228531)
insert into product(id, name, costprice) values(101,'vamshi',131093)
insert into product(id, name, costprice) values(102,'pooja',188536)
insert into product(id, name, costprice) values(103,'vamshi',192376)
insert into product(id, name, costprice) values(104,'phani',220348)
insert into product(id, name, costprice) values(105,'chaithanya',166872)
insert into product(id, name, costprice) values(106,'sriniva',268936)
insert into product(id, name, costprice) values(107,'madhu',116320)
insert into product(id, name, costprice) values(108,'pooja',128738)
insert into product(id, name, costprice) values(109,'phani',62191)
insert into product(id, name, costprice) values(110,'chaithanya',11385)
insert into product(id, name, costprice) values(111,'samba',233514)
insert into product(id, name, costprice) values(112,'sriniva',19198)
insert into product(id, name, costprice) values(113,'chaithanya',48626)
insert into product(id, name, costprice) values(114,'chaithanya',173508)
insert into product(id, name, costprice) values(115,'phani',252319)
insert into product(id, name, costprice) values(116,'sriniva',234717)
insert into product(id, name, costprice) values(117,'samba',20414)
insert into product(id, name, costprice) values(118,'pooja',70624)
insert into product(id, name, costprice) values(119,'vamshi',38564)
insert into product(id, name, costprice) values(120,'samba',156586)
insert into product(id, name, costprice) values(121,'madhu',207934)
insert into product(id, name, costprice) values(122,'vamshi',296249)
insert into product(id, name, costprice) values(123,'sriniva',204211)
insert into product(id, name, costprice) values(124,'pooja',38417)
insert into product(id, name, costprice) values(125,'madhu',101300)
insert into product(id, name, costprice) values(126,'vamshi',258599)
insert into product(id, name, costprice) values(127,'pooja',279384)
insert into product(id, name, costprice) values(128,'phani',104786)
insert into product(id, name, costprice) values(129,'samba',235449)
insert into product(id, name, costprice) values(130,'pooja',139696)
insert into product(id, name, costprice) values(131,'sriniva',272107)
insert into product(id, name, costprice) values(132,'vamshi',286303)
insert into product(id, name, costprice) values(133,'vamshi',48378)
insert into product(id, name, costprice) values(134,'chaithanya',21675)
insert into product(id, name, costprice) values(135,'vamshi',128789)
insert into product(id, name, costprice) values(136,'samba',288139)
insert into product(id, name, costprice) values(137,'pooja',264882)
insert into product(id, name, costprice) values(138,'madhu',141662)
insert into product(id, name, costprice) values(139,'chaithanya',25660)
insert into product(id, name, costprice) values(140,'pooja',184388)
insert into product(id, name, costprice) values(141,'phani',87094)
insert into product(id, name, costprice) values(142,'phani',50012)
insert into product(id, name, costprice) values(143,'vamshi',88618)
insert into product(id, name, costprice) values(144,'pooja',66519)
insert into product(id, name, costprice) values(145,'sriniva',175434)
insert into product(id, name, costprice) values(146,'madhu',259)
insert into product(id, name, costprice) values(147,'chaithanya',275106)
insert into product(id, name, costprice) values(148,'madhu',91355)
insert into product(id, name, costprice) values(149,'phani',235526)
insert into product(id, name, costprice) values(150,'vamshi',83085)
insert into product(id, name, costprice) values(151,'vamshi',48814)
insert into product(id, name, costprice) values(152,'chaithanya',282245)
insert into product(id, name, costprice) values(153,'vamshi',269955)
insert into product(id, name, costprice) values(154,'madhu',82420)
insert into product(id, name, costprice) values(155,'pooja',48705)
insert into product(id, name, costprice) values(156,'chaithanya',35442)
insert into product(id, name, costprice) values(157,'pooja',149916)
insert into product(id, name, costprice) values(158,'samba',15308)
insert into product(id, name, costprice) values(159,'chaithanya',109270)
insert into product(id, name, costprice) values(160,'pooja',163435)
insert into product(id, name, costprice) values(161,'phani',122658)
insert into product(id, name, costprice) values(162,'madhu',129323)
insert into product(id, name, costprice) values(163,'madhu',255008)
insert into product(id, name, costprice) values(164,'phani',162545)
insert into product(id, name, costprice) values(165,'vamshi',192053)
insert into product(id, name, costprice) values(166,'madhu',135150)
insert into product(id, name, costprice) values(167,'vamshi',68236)
insert into product(id, name, costprice) values(168,'sriniva',192122)
insert into product(id, name, costprice) values(169,'pooja',70939)
insert into product(id, name, costprice) values(170,'sriniva',158676)
insert into product(id, name, costprice) values(171,'chaithanya',107291)
insert into product(id, name, costprice) values(172,'madhu',161843)
insert into product(id, name, costprice) values(173,'sriniva',132783)
insert into product(id, name, costprice) values(174,'phani',92290)
insert into product(id, name, costprice) values(175,'samba',19326)
insert into product(id, name, costprice) values(176,'madhu',199122)
insert into product(id, name, costprice) values(177,'chaithanya',119779)
insert into product(id, name, costprice) values(178,'pooja',243365)
insert into product(id, name, costprice) values(179,'madhu',78134)
insert into product(id, name, costprice) values(180,'chaithanya',205019)
insert into product(id, name, costprice) values(181,'chaithanya',42035)
insert into product(id, name, costprice) values(182,'samba',270989)
insert into product(id, name, costprice) values(183,'pooja',108836)
insert into product(id, name, costprice) values(184,'samba',203940)
insert into product(id, name, costprice) values(185,'chaithanya',190746)
insert into product(id, name, costprice) values(186,'pooja',6619)
insert into product(id, name, costprice) values(187,'phani',194918)
insert into product(id, name, costprice) values(188,'madhu',68297)
insert into product(id, name, costprice) values(189,'vamshi',83180)
insert into product(id, name, costprice) values(190,'chaithanya',289133)
insert into product(id, name, costprice) values(191,'madhu',110844)
insert into product(id, name, costprice) values(192,'madhu',146958)
insert into product(id, name, costprice) values(193,'samba',284598)
insert into product(id, name, costprice) values(194,'pooja',265513)
insert into product(id, name, costprice) values(195,'phani',288379)
insert into product(id, name, costprice) values(196,'pooja',221167)
insert into product(id, name, costprice) values(197,'pooja',170991)
insert into product(id, name, costprice) values(198,'samba',216248)
insert into product(id, name, costprice) values(199,'pooja',143811)

'vamshi'

In [23]:
names=["samba","chaithanya","sriniva","phani","pooja","vamshi","madhu"]
costs=range(30,300000)
import random
for i in range(2,200):
    q=f"insert into product(id, name, costprice) values({i},'{random.choice(names)}',{random.choice(costs)})"
    cur.execute(q)
    con.commit()
random.choice(names)

'chaithanya'

In [24]:
q="update product set costprice=221028 where id=3"
cur.execute(q)
con.commit()

In [25]:
q="delete from product where id=3"
cur.execute(q)
con.commit()

In [26]:
con.close()

In [27]:
import psycopg2
# pip install psycopg2

In [29]:
con = psycopg2.connect(host="localhost",user="postgres",password="root",database="batch58",port=5432)

In [30]:
cur = con.cursor()

In [31]:
cur.execute("create table product(id integer, name varchar(250), costprice integer)")
names=["samba","chaithanya","sriniva","phani","pooja","vamshi","madhu"]
costs=range(30,300000)
import random
for i in range(1,200):
    q=f"insert into product(id, name, costprice) values({i},'{random.choice(names)}',{random.choice(costs)})"
    print(q)
random.choice(names)

insert into product(id, name, costprice) values(1,'madhu',67484)
insert into product(id, name, costprice) values(2,'chaithanya',242184)
insert into product(id, name, costprice) values(3,'chaithanya',65647)
insert into product(id, name, costprice) values(4,'chaithanya',251850)
insert into product(id, name, costprice) values(5,'chaithanya',227876)
insert into product(id, name, costprice) values(6,'madhu',59882)
insert into product(id, name, costprice) values(7,'sriniva',86693)
insert into product(id, name, costprice) values(8,'pooja',161738)
insert into product(id, name, costprice) values(9,'phani',286910)
insert into product(id, name, costprice) values(10,'samba',232923)
insert into product(id, name, costprice) values(11,'samba',224344)
insert into product(id, name, costprice) values(12,'vamshi',62325)
insert into product(id, name, costprice) values(13,'sriniva',282249)
insert into product(id, name, costprice) values(14,'sriniva',35390)
insert into product(id, name, costprice) values(15,'madhu',67101)
insert into product(id, name, costprice) values(16,'phani',70811)
insert into product(id, name, costprice) values(17,'madhu',112804)
insert into product(id, name, costprice) values(18,'vamshi',157707)
insert into product(id, name, costprice) values(19,'vamshi',148519)
insert into product(id, name, costprice) values(20,'sriniva',193285)
insert into product(id, name, costprice) values(21,'samba',175811)
insert into product(id, name, costprice) values(22,'pooja',111848)
insert into product(id, name, costprice) values(23,'sriniva',293772)
insert into product(id, name, costprice) values(24,'chaithanya',88347)
insert into product(id, name, costprice) values(25,'sriniva',270701)
insert into product(id, name, costprice) values(26,'chaithanya',112453)
insert into product(id, name, costprice) values(27,'chaithanya',65250)
insert into product(id, name, costprice) values(28,'sriniva',295327)
insert into product(id, name, costprice) values(29,'sriniva',162059)
insert into product(id, name, costprice) values(30,'vamshi',40748)
insert into product(id, name, costprice) values(31,'vamshi',145795)
insert into product(id, name, costprice) values(32,'vamshi',192396)
insert into product(id, name, costprice) values(33,'madhu',283173)
insert into product(id, name, costprice) values(34,'pooja',249357)
insert into product(id, name, costprice) values(35,'sriniva',142205)
insert into product(id, name, costprice) values(36,'pooja',105579)
insert into product(id, name, costprice) values(37,'sriniva',80643)
insert into product(id, name, costprice) values(38,'pooja',110112)
insert into product(id, name, costprice) values(39,'vamshi',119007)
insert into product(id, name, costprice) values(40,'phani',25239)
insert into product(id, name, costprice) values(41,'vamshi',267715)
insert into product(id, name, costprice) values(42,'pooja',108171)
insert into product(id, name, costprice) values(43,'pooja',254580)
insert into product(id, name, costprice) values(44,'pooja',186070)
insert into product(id, name, costprice) values(45,'samba',263456)
insert into product(id, name, costprice) values(46,'samba',19980)
insert into product(id, name, costprice) values(47,'pooja',14221)
insert into product(id, name, costprice) values(48,'madhu',275754)
insert into product(id, name, costprice) values(49,'sriniva',279661)
insert into product(id, name, costprice) values(50,'madhu',264102)
insert into product(id, name, costprice) values(51,'phani',46044)
insert into product(id, name, costprice) values(52,'phani',55716)
insert into product(id, name, costprice) values(53,'sriniva',121022)
insert into product(id, name, costprice) values(54,'phani',134502)
insert into product(id, name, costprice) values(55,'phani',128282)
insert into product(id, name, costprice) values(56,'madhu',225420)
insert into product(id, name, costprice) values(57,'pooja',267001)
insert into product(id, name, costprice) values(58,'samba',121204)
insert into product(id, name, costprice) values(59,'pooja',101819)
insert into product(id, name, costprice) values(60,'sriniva',97635)
insert into product(id, name, costprice) values(61,'vamshi',1243)
insert into product(id, name, costprice) values(62,'pooja',248408)
insert into product(id, name, costprice) values(63,'chaithanya',127221)
insert into product(id, name, costprice) values(64,'pooja',180054)
insert into product(id, name, costprice) values(65,'madhu',4061)
insert into product(id, name, costprice) values(66,'samba',84425)
insert into product(id, name, costprice) values(67,'madhu',51403)
insert into product(id, name, costprice) values(68,'pooja',90438)
insert into product(id, name, costprice) values(69,'phani',206224)
insert into product(id, name, costprice) values(70,'samba',76557)
insert into product(id, name, costprice) values(71,'vamshi',236278)
insert into product(id, name, costprice) values(72,'madhu',5191)
insert into product(id, name, costprice) values(73,'vamshi',179009)
insert into product(id, name, costprice) values(74,'chaithanya',201694)
insert into product(id, name, costprice) values(75,'vamshi',218072)
insert into product(id, name, costprice) values(76,'chaithanya',258749)
insert into product(id, name, costprice) values(77,'phani',144386)
insert into product(id, name, costprice) values(78,'samba',557)
insert into product(id, name, costprice) values(79,'madhu',75331)
insert into product(id, name, costprice) values(80,'sriniva',243391)
insert into product(id, name, costprice) values(81,'samba',269005)
insert into product(id, name, costprice) values(82,'madhu',104836)
insert into product(id, name, costprice) values(83,'sriniva',24001)
insert into product(id, name, costprice) values(84,'madhu',80175)
insert into product(id, name, costprice) values(85,'chaithanya',143483)
insert into product(id, name, costprice) values(86,'vamshi',212475)
insert into product(id, name, costprice) values(87,'vamshi',109786)
insert into product(id, name, costprice) values(88,'pooja',160437)
insert into product(id, name, costprice) values(89,'sriniva',236655)
insert into product(id, name, costprice) values(90,'chaithanya',152780)
insert into product(id, name, costprice) values(91,'sriniva',256620)
insert into product(id, name, costprice) values(92,'pooja',252386)
insert into product(id, name, costprice) values(93,'vamshi',251457)
insert into product(id, name, costprice) values(94,'madhu',167218)
insert into product(id, name, costprice) values(95,'chaithanya',190325)
insert into product(id, name, costprice) values(96,'chaithanya',209167)
insert into product(id, name, costprice) values(97,'pooja',211714)
insert into product(id, name, costprice) values(98,'chaithanya',51141)
insert into product(id, name, costprice) values(99,'sriniva',111205)
insert into product(id, name, costprice) values(100,'madhu',204242)
insert into product(id, name, costprice) values(101,'sriniva',130559)
insert into product(id, name, costprice) values(102,'samba',166984)
insert into product(id, name, costprice) values(103,'phani',38648)
insert into product(id, name, costprice) values(104,'madhu',157350)
insert into product(id, name, costprice) values(105,'madhu',66668)
insert into product(id, name, costprice) values(106,'pooja',255625)
insert into product(id, name, costprice) values(107,'chaithanya',248136)
insert into product(id, name, costprice) values(108,'vamshi',48455)
insert into product(id, name, costprice) values(109,'phani',296141)
insert into product(id, name, costprice) values(110,'madhu',265391)
insert into product(id, name, costprice) values(111,'vamshi',186030)
insert into product(id, name, costprice) values(112,'samba',44934)
insert into product(id, name, costprice) values(113,'chaithanya',284133)
insert into product(id, name, costprice) values(114,'sriniva',71684)
insert into product(id, name, costprice) values(115,'samba',36401)
insert into product(id, name, costprice) values(116,'madhu',238083)
insert into product(id, name, costprice) values(117,'madhu',173017)
insert into product(id, name, costprice) values(118,'vamshi',56422)
insert into product(id, name, costprice) values(119,'phani',12408)
insert into product(id, name, costprice) values(120,'chaithanya',118069)
insert into product(id, name, costprice) values(121,'madhu',65020)
insert into product(id, name, costprice) values(122,'pooja',176390)
insert into product(id, name, costprice) values(123,'pooja',93420)
insert into product(id, name, costprice) values(124,'phani',46928)
insert into product(id, name, costprice) values(125,'sriniva',14984)
insert into product(id, name, costprice) values(126,'sriniva',66276)
insert into product(id, name, costprice) values(127,'samba',209413)
insert into product(id, name, costprice) values(128,'sriniva',106294)
insert into product(id, name, costprice) values(129,'pooja',192872)
insert into product(id, name, costprice) values(130,'pooja',34546)
insert into product(id, name, costprice) values(131,'phani',288488)
insert into product(id, name, costprice) values(132,'madhu',266466)
insert into product(id, name, costprice) values(133,'chaithanya',7186)
insert into product(id, name, costprice) values(134,'madhu',290128)
insert into product(id, name, costprice) values(135,'phani',192299)
insert into product(id, name, costprice) values(136,'vamshi',22577)
insert into product(id, name, costprice) values(137,'chaithanya',174775)
insert into product(id, name, costprice) values(138,'phani',187400)
insert into product(id, name, costprice) values(139,'samba',61414)
insert into product(id, name, costprice) values(140,'sriniva',285330)
insert into product(id, name, costprice) values(141,'sriniva',234836)
insert into product(id, name, costprice) values(142,'madhu',256477)
insert into product(id, name, costprice) values(143,'sriniva',194973)
insert into product(id, name, costprice) values(144,'chaithanya',286960)
insert into product(id, name, costprice) values(145,'samba',182077)
insert into product(id, name, costprice) values(146,'samba',198027)
insert into product(id, name, costprice) values(147,'phani',242497)
insert into product(id, name, costprice) values(148,'madhu',130283)
insert into product(id, name, costprice) values(149,'vamshi',74644)
insert into product(id, name, costprice) values(150,'chaithanya',28127)
insert into product(id, name, costprice) values(151,'madhu',264825)
insert into product(id, name, costprice) values(152,'sriniva',91729)
insert into product(id, name, costprice) values(153,'pooja',256875)
insert into product(id, name, costprice) values(154,'sriniva',90178)
insert into product(id, name, costprice) values(155,'vamshi',256273)
insert into product(id, name, costprice) values(156,'chaithanya',290271)
insert into product(id, name, costprice) values(157,'pooja',81178)
insert into product(id, name, costprice) values(158,'vamshi',174837)
insert into product(id, name, costprice) values(159,'sriniva',201038)
insert into product(id, name, costprice) values(160,'madhu',175480)
insert into product(id, name, costprice) values(161,'madhu',206196)
insert into product(id, name, costprice) values(162,'chaithanya',286932)
insert into product(id, name, costprice) values(163,'phani',274274)
insert into product(id, name, costprice) values(164,'samba',271492)
insert into product(id, name, costprice) values(165,'samba',45337)
insert into product(id, name, costprice) values(166,'vamshi',242274)
insert into product(id, name, costprice) values(167,'phani',295876)
insert into product(id, name, costprice) values(168,'phani',117871)
insert into product(id, name, costprice) values(169,'madhu',77954)
insert into product(id, name, costprice) values(170,'samba',67882)
insert into product(id, name, costprice) values(171,'samba',163434)
insert into product(id, name, costprice) values(172,'chaithanya',130050)
insert into product(id, name, costprice) values(173,'pooja',226656)
insert into product(id, name, costprice) values(174,'chaithanya',261228)
insert into product(id, name, costprice) values(175,'samba',158191)
insert into product(id, name, costprice) values(176,'madhu',294781)
insert into product(id, name, costprice) values(177,'samba',84210)
insert into product(id, name, costprice) values(178,'vamshi',263630)
insert into product(id, name, costprice) values(179,'chaithanya',80510)
insert into product(id, name, costprice) values(180,'vamshi',245045)
insert into product(id, name, costprice) values(181,'chaithanya',54707)
insert into product(id, name, costprice) values(182,'sriniva',84740)
insert into product(id, name, costprice) values(183,'madhu',168170)
insert into product(id, name, costprice) values(184,'phani',234457)
insert into product(id, name, costprice) values(185,'madhu',69005)
insert into product(id, name, costprice) values(186,'vamshi',39472)
insert into product(id, name, costprice) values(187,'phani',233452)
insert into product(id, name, costprice) values(188,'chaithanya',150265)
insert into product(id, name, costprice) values(189,'samba',205344)
insert into product(id, name, costprice) values(190,'chaithanya',296284)
insert into product(id, name, costprice) values(191,'chaithanya',294456)
insert into product(id, name, costprice) values(192,'pooja',72410)
insert into product(id, name, costprice) values(193,'samba',238448)
insert into product(id, name, costprice) values(194,'vamshi',54254)
insert into product(id, name, costprice) values(195,'vamshi',257688)
insert into product(id, name, costprice) values(196,'phani',219825)
insert into product(id, name, costprice) values(197,'vamshi',176154)
insert into product(id, name, costprice) values(198,'chaithanya',97570)
insert into product(id, name, costprice) values(199,'sriniva',100280)

'vamshi'

In [32]:
names=["samba","chaithanya","sriniva","phani","pooja","vamshi","madhu"]
costs=range(30,300000)
import random
for i in range(1,200):
    q=f"insert into product(id, name, costprice) values({i},'{random.choice(names)}',{random.choice(costs)})"
    cur.execute(q)
    con.commit()
random.choice(names)

'pooja'

In [33]:
q="select * from product where id=4"
cur.execute(q)

In [34]:
cur.fetchall()

[(4, 'phani', 263629)]

In [44]:
q="select count(*) as c,name from product group by name"
cur.execute(q)

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [46]:
cur.execute("select * from product")

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [48]:
con.close()
con = psycopg2.connect(host="localhost",user="postgres",password="root",database="batch58",port=5432)
cur = con.cursor()
q="select count(*) as c,name from product group by name"
cur.execute(q)
print(cur.fetchall())

[(26, 'vamshi'), (38, 'sriniva'), (26, 'pooja'), (33, 'phani'), (19, 'madhu'), (27, 'samba'), (30, 'chaithanya')]

In [49]:
l = [(26, 'vamshi'), (38, 'sriniva'), (26, 'pooja'), (33, 'phani'), (19, 'madhu'), (27, 'samba'), (30, 'chaithanya')]
l.sort(key=lambda x:x[0])
l

[(19, 'madhu'),
 (26, 'vamshi'),
 (26, 'pooja'),
 (27, 'samba'),
 (30, 'chaithanya'),
 (33, 'phani'),
 (38, 'sriniva')]

In [50]:
l = [(26, 'vamshi'), (38, 'sriniva'), (26, 'pooja'), (33, 'phani'), (19, 'madhu'), (27, 'samba'), (30, 'chaithanya')]
l.sort(key=lambda x:x[1])
l

[(30, 'chaithanya'),
 (19, 'madhu'),
 (33, 'phani'),
 (26, 'pooja'),
 (27, 'samba'),
 (38, 'sriniva'),
 (26, 'vamshi')]